@using Models
@model List<Ingredient>

<body class="text-center">
    <h1 class="display-4">Liste des articles</h1>
    <div class="listIngredient">
        @foreach (Ingredient ingredient in Model)
        {
            <div id="ingredient" class="frame2 ingredient">
                <p>@ingredient.Name</p>
                <div>
                    <input id="quantity" onchange="updatePriceIngredient(event,@ingredient.Id)" type="number" placeholder="Quantité" value="@ingredient.Quantity" /><p>@ingredient.Type</p>
                </div>
                <div>
                    <input id="price" onchange="updatePriceIngredient(event,@ingredient.Id);updateDecimal()" type="number" min="0" placeholder="Prix" value="@ingredient.Price.ToString().Replace(",",".")" />
                    <p>€</p>
                </div>
            </div>
        }
    </div>
</body>
<script src="~/js/article.js"></script>