.ingredient {
    margin: 10px;
    display: flex;
    padding: 5px;
    width: 98%;
    align-items: center;
}

.listIngredient{
    display:flex;
    flex-direction:column;
    align-items:center
}

.list {
    display: flex;
    align-items: center;
    flex-direction: column
}

.ingredient div {
    display: flex;
    padding: 5px;
    width: 100%;
    align-items: center;
}

button {
    width: 45px;
}

.list > button {
    width: 98%;
    border: 1px solid #6c757d;
    border-radius: 14px;
}

#baseIngredient {
    visibility: hidden;
}


    .addIngredient {
        height: 150px;
        border: 1px solid #6c757d;
        border-radius: 14px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 10px;
        justify-content: space-between
    }

    .addIngredient select {
        width: 19%;
    }

    .addIngredient input[type=text] {
        width: 79%;
    }

    .addIngredient input[type=submit] {
        width: 100%;
    }

        .addIngredient > div:first-of-type {
            display: flex;
            flex-direction: row-reverse
        }

        .addIngredient > div:nth-child(2n+1) {
            display: flex;
            justify-content: space-between;
        }

.unity {
    margin: 0 5px;
}

.addIngredientButton{
    width:98%;
    height:30px;
    padding:0
}