.main > div {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width:98%
}

.main{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.main> *{
    margin:5px 0;
}

.detail {
    display: flex;
    width: 30%;
    flex-direction: column
}

    .detail > div:first-of-type {
        margin: 10px 0;
        padding: 10px 0;
    }

    .detail img {
        width: 150px;
        margin: 0 25px 0 12%
    }

    .detail div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

.recipe {
    display: flex;
    width: 69%;
    text-align: start;
    flex-direction: column;
    align-items: center;
}

    .recipe > div button {
        width: 40px;
    }

    .recipe > div {
        display: flex;
        width: 98%;
        justify-content: center;
        margin: 5px 0
    }

p {
    margin: inherit
}

.listIngredient > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listIngredient > div > select {
    width:60%;
}

.listIngredient > div > div {
    width:39%;
    flex-direction:row
}

    .listIngredient > div > div > input {
        width: 80%;
    }

    .listIngredient > div > div > p {
        width: 19%;
    }

#baseStep{
    visibility:hidden
}

.listIngredient > div button {
    width: 35px;
}

#svgRecipe {
    width: 100px;
}

textarea {
    width:97%;
    height:130px;
}

.controls{
    position:fixed;
    bottom:0;
    width:100% !important;
}

.controls > input{
    margin:10px;
}

#recipeSelect {
    width: 98%;
    margin-top:10px;
}

.recipeInfo  input, .recipeInfo  select {
    margin: 10px;
}


@media (max-width:600px) {

    .recipeInfo {
        flex-direction: column !important;
        align-items: center !important;

    }
        .recipeInfo input, .recipeInfo select {
            margin: 5px 0;
            width:98%
        }
    .details {
        flex-direction: column !important;
        align-items: center !important;
    }

    .detail, .recipe {
        width: 100%;
        margin: 5px 0;
    }
}

