body {
    padding-top: 20px;
}

.main{
    width:100%;
    display:flex;
    align-items:center;
    flex-direction:column
}

.detail {
    display: flex;
    width: 98%
}


    .detail img {
        width: 150px;
        margin: 0 25px 0 12%
    }

    .detail div {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .recipe {
        margin-top:30px;
        display:flex;
        width:100%
    }

        .recipe >div:first-of-type {
        width:30%
    }

        .recipe > div:first-of-type > div {
            display: flex;
            align-items: center;
            height: 50px;
        }

            .recipe > div:first-of-type > div > div {
                width: 60px;
                display: flex;
                justify-content: center
            }

        .recipe > div {
            width: 70%;
            text-align: start;
            border: 1px solid #c0a456;
            border-radius: 14px;
            margin: 20px;
            height: fit-content;
            padding: 10px
        }

        .recipe img {
            height: 35px;
        }

        p{
            margin:inherit
        }