body{
    padding-top:20px;
}

button {
    width : 20%;
}

.main{
    display : flex;
    align-items:center;
    flex-direction:column;
    width:100%;
}

.main > * {
    width:98%;
}

.selectType {
    display: flex;
    justify-content: space-evenly;
}

.recipe {
    margin: 10px;
    display: flex;
    padding: 5px;
    width: 100%;
    align-items: center;
}

.list img {
    border-radius: 14px;
    margin-right: 10px;
    width: 7%;
}


.list svg {
    border-radius: 14px;
    margin-right: 10px;
    width: 7%;
}

.recipe > div {
    display: flex;
    flex-direction: column;
    width: 93%;
    padding: 10px;
}

    .recipe > div > div {
        display: flex;
        justify-content: space-between;
    }

.list p {
    text-align: start;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}